/* Soluzione qui */

/* Allineamento Header Logo */

#topbar {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 769px) {
    #topbar {
        justify-content: flex-start;
    }
}

/* Il padding del contenuto principale della pagina aumenta */

main {
	padding: 20px;
}

@media screen and (min-width: 769px) {
    main {
        padding: 50px;
    }
}

@media screen and (min-width:993px) {
   main {
    ckground-color: #f6f5f3;
    padding: 50px 170px;
   }
   
    }

/* Compare il testo "(Dolce Tradizionale)" */

.recipe-origin {
	display: none;
}

@media screen and (min-width:769px) {
    .recipe-origin {
        display:inline-block;
    }
    
}

/* Tablet - La grandezza del titolo diventa più grande */

.recipe-title {
    font-size:medium;
}


@media screen and (min-width:769px) {
   .recipe-title {font-size: 20px;
    }
}
/* Desktop - La grandezza el titolo della ricetta aumenta ancora di più */

@media screen and (min-width:993px) {
    .recipe-title {
        font-size: 22px;
    }
}

/* Tablet - Le informazioni della ricetta sotto il video si dispongono a griglia */

/* #0 - Mobile */

.quick-notes ul {
    display: block;
    flex-wrap: nowrap; 
    justify-content: flex-start; 
}

.quick-notes ul > li {
    flex-shrink: 0 ;
}

/* #1 - Tablet + #2 Desktop -> Le informazioni 
della ricetta tornano a disporsi una sotto l'altra 
-------per questo, applico range esclusivo-------*/

@media screen and (min-width: 769px) and (max-width:992px) {
    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap:10px;
        
    }

    .quick-notes ul > li {
    flex-shrink: 0;
    flex-basis: calc((100% / 3) - (10px * 2) / 3 );
}

}


/*Il video e le altre informazioni della ricetta 
si dispongono uno accanto all'altro */

.recipe-card {
	display: block;
}

.recipe-video {
	height: 50vw;
    flex-basis:80%;
}

.recipe-video iframe {
	aspect-ratio: unset;
}

@media screen and (min-width:993px) {

.recipe-card {
    display:flex;
    align-items: center;
    justify-content: flex-start;

}

.recipe-video {
    height: 30vw;
}

.recipe-video iframe {
	aspect-ratio: 16-9;
}

}

/* questo per rendere più carine le info */
.recipe-info {
    align-self: flex-start;
}


/* I bottoni social si allargano */

.btn {
    padding: 10px 15px;
}

.social-networks {
    gap: 20px;
}

@media screen and (min-width:769px) {
    .btn {
        padding: 10px 55px;

    }

    .social-networks {
        gap:10px;
    }
}

/* Appare banner pubblicitario */

.ads {
	display: none;
}

@media screen and (min-width:769px) {
    .ads {
        display: block;
    }
}

/* Immagine avvolta da testo */


.presentation img {
	max-width: 300px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	box-shadow: 0 5px 10px rgb(45 34 60 / 12%);
}

@media screen and (min-width:769px) {
    .presentation img {
    display: inline-block;
    float: inline-start;
    margin-right: 20px;
    }
}

