/* Soluzione qui */

/* Allineamento Header Logo */

#topbar {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 769px) {
    #topbar {
        justify-content: flex-start;
    }
}

/* Il padding del contenuto principale della pagina aumenta */

main {
	padding: 20px;
}

@media screen and (min-width: 769px) {
    main {
        padding: 50px;
    }
}

@media screen and (min-width:993px) {
   main {
    ckground-color: #f6f5f3;
    padding: 50px 170px;
   }
   
    }

/* Compare il testo "(Dolce Tradizionale)" */

.recipe-origin {
	display: none;
}

@media screen and (min-width:769px) {
    .recipe-origin {
        display:inline-block;
    }
    
}

/* La grandezza del titolo diventa più grande */